<% breadcrumb :ranking %>
<div class="row pt-3 pb-5">
  <div class="col-md-8">
    <%= cell(:ramen_shop).(:many_reviews) %>
    <%= cell(:user).(:review_master) %>
    <%= cell(:user).(:conquest_master) %>
  </div>
  <div class="col-md-4">
    <%= render 'users/shared/sidemenu' %>
  </div>
</div>