<div class="py-3 mt-auto">
  <div class="container clearfix">
    <span class="text-muted">Copyright © Your Website 2019</span>
    <span class="float-right">
      <%= link_to '利用規約', '#' %>
      <%= link_to 'プライバシーポリシー', '#' %>
      <%= link_to 'お問い合わせ', '#' %>
    </span>
  </div>
</div>