<div class="d-md-block d-none">
  <nav class="navbar navbar-expand-md bg-white py-2">
    <div class="collapse navbar-collapse justify-content-center">
      <div class="navbar-nav">
        <ul class="navbar-nav align-items-center ">
          <li class="nav-item mr-5">
            <%= link_to reviews_path, class: "text-dark" do %>
              <i class="fas fa-star"></i> みんなのレビュー
            <% end %>
          </li>
          <li class="nav-item mr-5">
            <%= link_to ramen_shops_path, class: "text-dark" do %>
              <i class="fas fa-search"></i> ラーメンデータベース
            <% end %>
          </li>
          <li class="nav-item mr-5">
            <%= link_to ranking_index_path, class: "text-dark" do %>
              <i class="fas fa-crown"></i> ランキング
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to articles_path, class: "text-dark" do %>
              <i class="fas fa-rss"></i> イベント・ニュース
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>