<% breadcrumb :mypage_bookmarks %>
<div class="row pt-3 pb-5">
  <div class="col-sm-8 order-md-2 mb-3">
    <%= render 'users/shared/bookmarks', title: 'ブックマークした店', bookmarks: @bookmarks %>
    <%= render 'users/mypage/sp_menu' %>
  </div>
  <div class="col-sm-4 order-md-1">
    <%= render 'users/mypage/sidebar' %>
  </div>
</div>