<% breadcrumb :mypage_reviews %>
<div class="row pt-3 pb-5">
  <div class="col-sm-8 order-md-2 mb-3">
    <%= render 'users/shared/reviews', title: '自分のレビュー', reviews: @my_reviews %>
    <%= render 'users/shared/favorites', title: 'いいね！を付けたレビュー', favorites: @favorite_reviews %>
    <%= render 'users/mypage/sp_menu' %>
  </div>
  <div class="col-sm-4 order-md-1">
    <%= render 'users/mypage/sidebar' %>
  </div>
</div>