<% breadcrumb :inquiry_completed %>
<div class="row pt-3 pb-5">
  <div class="col-md-8 offset-md-2">
    <div class="card bg-white border-none shadow-sm">
      <div class="card-body p-4">
        <h2 class="text-center font-weight-bold pb-4">受付が完了しました</h2>
        <div class="font-weight-light px-3">
          <p>お問い合わせ内容によっては数⽇以上のお時間をいただく場合やお答えできない場合がございます。</p>
          <p>あらかじめご了承ください。</p>
        </div>
        <div class="text-center pt-3">
          <% if logged_in? %>
            <%= link_to "マイページへ", dashboard_index_path, class: "btn btn-danger px-5" %>
          <% else %>
            <%= link_to "トップページへ", root_path, class: "btn btn-danger px-5" %>
          <% end %>
        </div>
       </div>
    </div>
  </div>
</div>