<div class="row pt-3 pb-5">
  <div class="col-md-8 offset-md-2 text-center">
    <h2 class="font-weight-bold display-2">404</h2>
    <h3 class="font-weight-bold">URL Not Found</h3>
    <p class="font-weight-light pt-3 px-5">
      お探しのページが⾒つかりません。URLに誤りがあるか、お探しのページは移動もしくは削除された可能性があります。
    </p>
    <%= link_to "トップページへ", root_path, class: "btn btn-danger" %>
  </div>
</div>