<div class="row pt-3 pb-5">
  <div class="col-md-8 offset-md-2 text-center">
    <h2 class="font-weight-bold display-2">500</h2>
    <h3 class="font-weight-bold">Internal Server Error</h3>
    <p class="font-weight-light pt-3 px-5">
      ご迷惑をおかけして申し訳ありません。<br>
      現在、サーバー上のエラーが発⽣しております。<br>
      しばらく時間をおいてからもう⼀度アクセスするか、管理者にお問い合わせください。
    </p>
    <%= link_to "トップページへ", root_path, class: "btn btn-danger" %>
  </div>
</div>