<div class="row pt-3 pb-5">
  <div class="col-md-8">
    <%= cell(:review).(:popular_reviews) %>
    <%= cell(:review).(:recent_reviews) %>
  </div>
  
  <div class="col-md-4">
    <%= render partial: 'users/shared/sidemenu' %>
  </div>
  
</div>
