@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'users/custom-variables';
@import 'users/font-size';
@import 'users/social';

@import 'users/home';
@import 'users/mypage';
@import 'users/review';
@import 'users/articles';

/* universal */

body {
  background: $body-bg;
}

a {
  color: inherit;
  
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100\vh;
}

.image-box img{
  max-width: 100%;
}

footer {
  width: 100%;
  background-color: $gray;
  margin-top: auto;
}

.pagination {
  justify-content: center;
  padding-top: 20px;
  margin: 0;
}