$body-bg: #FCFCFC;
$border: #DEE2E6;

$white: #fff;
$dark: #343A40;
$pink: #fff0f5;
$gray: #E8ECF1;
$light-gray: #F6F8FA;
$dark-gray: #aaa;
$blue: #1155D4;
$light-blue: #ADD8E6;
$shadow: #999;

$facebook: #4267B2;
$twitter: #2CA7E0;
$line: #00B300;
$youtube: #CC0000;
$google: #dd4b39;
$whatsapp: #39DA56;
$viadeo: #EE7252;
$vimeo: #46BAE9;
$pinterest: #DF0019;