.jumbotron-fluid {
  background: url(top-image.png);
  background-size: cover;
  min-height: 480px;
  opacity: 0.7;
}

.carousel-indicators {
  & li {
    border-radius: 50%;
    margin: 1px 3px;
    height: 10px;;
    max-width: 10px;
  }
}