.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.card-img-top {
  
  img {
    max-width: 100%;
  }
}

.review-container {
  font-size: 14px;
  font-weight: 300;
  
  .user-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    float: left;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
  }
  
  h2 {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: $gray;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }

  h3 {
    padding-left: 10px;
    border-left: solid 4px $dark;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }

  h5 {
    font-size: 10px;
  }
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviews {	
  display: flex;	
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;	
  box-sizing: border-box;	
  box-shadow: 0 0 1.5px $shadow;
  
  .review-image {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    
    img {
      min-width: 100px;
      max-width: 100%;
      vertical-align: top;
    }
  }
}

.reviewer {	
  
  .reviewer-image {
    display: inline-block;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    
    img {
      max-width: 100%;
      vertical-align: top;
    }
  }
}

.scrollable-menu {
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.carousel-indicators {
  & li {
    border-radius: 50%;
    margin: 1px 3px;
    height: 10px;;
    max-width: 10px;
  }
}

.carousel-item img {
  width: 100%;
}

@for $i from 0 through 2 {
  
  #img_field_#{$i} {
    padding: 5px 8px;
    border: solid 1px $border;
    text-align: center;
    position: relative;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $white;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.3s ease-out;
  
    &:hover {
      background-color: $gray;
      transition: 0.3s ease-out;
      opacity: 0.9;
    }
    
    i {
      font-size: 30px;
      color: $dark-gray;
      line-height: 150px;
      transition: 0.3s ease-out;
    }
  }
}